<!DOCTYPE html>
<html lang="en">
<head>
    <title>欢迎你来到5i english英语课堂</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="5ienglish" />
    <meta name="keywords" content="5ienglish" />
    <link href="/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">5I English</a>
    <div style="color: #00CED1;">我们一起学英语，走遍世界</div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <% if (userCookies == undefined) { %>
            <a class="nav-link" href="/login">登录</a>
            <% } else { %>
            <a class="nav-link" href="/logout">退出</a>
            <% } %>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <h1>跟我一起学英语，开始你的开挂生涯！！</h1>
    <p>
    出任总经理，升职CEO，迎娶白富美，走上人生巅峰！！！！</p>
    <p>
    想想还有点小激动~~~</p>
    <p>
        快来吧：<a href="/sys/startLesson">开始上课</a>
    </p>
</div>
</body>
</html>