<!-- Demo version: 2017.12.17 by vanpersie -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>5i-english</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="5ienglish" />
    <meta name="keywords" content="5ienglish" />
    <link href="/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript">
        function reloadPage(){
            location.reload()
        }
    </script>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/sys/sysIndex">5i English在线课堂</a>
    <div style="color: #00CED1;">学生：<b><%=student.name%></b>----老师：<b><%=teacher.name%></b></div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#" onClick="javascript:history.go(-1);">返回</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
        <div class="row">
            <div class="col-xs-5 col-md-3 common-border">
                <div style="height: 45px;">
                    <input type="hidden" id="room-id" value="<%=room_id%>">
                    <input type="hidden" id="userName" value="<%=user.name%>">
                    <input type="hidden" id="currentUserId" value="<%=user.id%>">
                    <input type="hidden" id="student_name" value="<%=student.name%>">
                    <input type="hidden" id="teacher_name" value="<%=teacher.name%>">
                    <input type="hidden" id="teacher_id" value="<%=teacher.id%>">
                    <input type="hidden" id="student_id" value="<%=student.id%>">
                    <% if (user.user_type == '1') {%>
                    <button type="button" id="open-room" class="btn btn-primary">打开课堂</button>
                    <button type="button" id="btn-share-part-of-sreen" class="btn btn-primary">分享课件</button>
                    <button type="button" id="refresh" class="btn btn-info" onclick="reloadPage()">刷新</button>
                    <button type="button" id="join-room" class="btn btn-success" style="display: none;">加入课堂</button>
                    <!--<div id="room-urls" style="display: none;"></div>-->
                    <% } else if (user.user_type == '0') {%>
                    <button type="button" id="open-room" class="btn btn-primary" style="display: none;">打开课堂</button>
                    <button type="button" id="btn-share-part-of-sreen" class="btn btn-info" style="display: none;">分享课件</button>

                    <button type="button" id="join-room" class="btn btn-primary">加入课堂</button>
                    <button type="button" id="refresh" class="btn btn-info" onclick="reloadPage()">刷新</button>
                    <!--<div id="room-urls" style="display: none;"></div>-->
                    <% } %>
                </div>
                <div class="row" id="videos-container">
                </div>

            </div>
            <div class="col-xs-11 col-md-7 common-border">
                <% if (user.user_type == '0') {%>
                <img id="shared-part-of-screen-preview">
                <%} else if (user.user_type == '1') {%>
                <iframe id="part-of-screen-to-be-shared" src="/demos/pptdemo/publish/demo.html" style="width: 780px; height: 560px;"></iframe>
                <%}%>
            </div>
            <div class="col-xs-2 col-md-2 common-border">
                    <textarea id="chat-output" class="chat-output" style="width:200px; height: 520px; font-size: 9px;" readonly></textarea>
                    <div style="position:absolute; bottom: 8px;">
                        <input type="text" id="input-text-chat" placeholder="输入内容，按回车发送！">
                    </div>
            </div>
        </div>
</div>
        <script src="/RTCMultiConnection.min.js"></script>
        <script src="/dev/PubNubConnection.js"></script>
        <script src="/dev/FileBufferReader.js"></script>
        <script src="/dev/websocket.js"></script>
        <script src="/dev/screenshot.js"> </script>

        <script>

            // ......................................................
            // .......................user data........................
            // ......................................................

            var currentUserId = document.getElementById('currentUserId').value;
            var teacherId = document.getElementById('teacher_id').value;
            var studentId = document.getElementById('student_id').value;
            var teacherName = document.getElementById('teacher_name').value;
            var studentName = document.getElementById('student_name').value;

            var isTeacher = (currentUserId == teacherId ? true:false);

            // ......................................................
            // .......................UI Code........................
            // ......................................................

            document.getElementById('open-room').onclick = function() {
                disableInputButtons();

                connection.open(document.getElementById('room-id').value, function() {
                    //                注释掉房间号
//                    showRoomURL(connection.sessionid);
                });
            };

            document.getElementById('join-room').onclick = function() {
                disableInputButtons();
                connection.join(document.getElementById('room-id').value);
            };

            // ......................................................
            // ................FileSharing/TextChat Code.............
            // ......................................................

            // document.getElementById('share-file').onclick = function() {
            //     var fileSelector = new FileSelector();
            //     fileSelector.selectSingleFile(function(file) {
            //         connection.send(file);
            //     });
            // };

            document.getElementById('input-text-chat').onkeyup = function(e) {
                if (e.keyCode != 13) return;

                // removing trailing/leading whitespace
                this.value = this.value.replace(/^\s+|\s+$/g, '');
                if (!this.value.length) return;

                connection.send(this.value);
                appendDIV(this.value);
                this.value = '';
            };

            var chatContainer = document.getElementById('chat-output');                //updated by ydl
            var me = document.getElementById('userName').value;
            var remoteUser;
            if(isTeacher) {
                me = teacherName;
                remoteUser = studentName;
            } else {
                me = studentName;
                remoteUser = teacherName;
            }

            function appendDIV(event) {
                var div = document.createElement('div');

                div.innerHTML = me + '：' + (event.data || event);
                chatContainer.value += div.innerHTML + '\n';
                div.tabIndex = 0;
                div.focus();

                document.getElementById('input-text-chat').focus();
            }

            function appendDIVRemote(event) {
                var div = document.createElement('div');

                div.innerHTML = remoteUser + '：' + (event.data || event);
                chatContainer.value += div.innerHTML + '\n';
                div.tabIndex = 0;
                div.focus();

                document.getElementById('input-text-chat').focus();
            }

            // ......................................................
            // ..................RTCMultiConnection Code.............
            // ......................................................

            var connection = new RTCMultiConnection();
            var peopleNum = 0;

            connection.socketMessageEvent = 'pubnub-demo';

            connection.setCustomSocketHandler(PubNubConnection);

            connection.enableFileSharing = true; // by default, it is "false".

            connection.session = {
                audio: true,
                video: true,
                data: true
            };

            connection.sdpConstraints.mandatory = {
                OfferToReceiveAudio: true,
                OfferToReceiveVideo: true
            };

            connection.videosContainer = document.getElementById('videos-container');
            connection.onstream = function(event) {
                connection.videosContainer.appendChild(event.mediaElement);
                event.mediaElement.play();
                setTimeout(function() {
                    event.mediaElement.play();
                }, 5000);
            };

//            connection.onmessage = appendDIV;
            connection.filesContainer = document.getElementById('file-container');

            connection.onopen = function() {
                // document.getElementById('share-file').disabled = false;
                document.getElementById('input-text-chat').disabled = false;
                if(!lastSharedScreenShot.length) {
                    document.getElementById('btn-share-part-of-sreen').disabled = false;
                }
            };

            function disableInputButtons() {
                connection.channel = document.getElementById('room-id').value;

                document.getElementById('open-room').disabled = true;
                document.getElementById('join-room').disabled = true;
                document.getElementById('room-id').disabled = true;
            }

            // ......................................................
            // ......................Handling Room-ID................
            // ......................................................

//            function showRoomURL(roomid) {
//                var roomHashURL = '#' + roomid;
//                var roomQueryStringURL = '?roomid=' + roomid;
//
//                // var html = '<h2>Unique URL for your room:</h2><br>';
//
//                // html += 'Hash URL: <a href="' + roomHashURL + '" target="_blank">' + roomHashURL + '</a>';
//                // html += '<br>';
//                // html += 'QueryString URL: <a href="' + roomQueryStringURL + '" target="_blank">' + roomQueryStringURL + '</a>';
//                var html = '课堂地址: <a href="' + roomQueryStringURL + '" target="_blank">' + roomQueryStringURL + '</a>';
//
//                var roomURLsDiv = document.getElementById('room-urls');
//                roomURLsDiv.innerHTML = html;
//                roomURLsDiv.style.display = 'block';
//            }

            (function() {
                var params = {},
                    r = /([^&=]+)=?([^&]*)/g;

                function d(s) {
                    return decodeURIComponent(s.replace(/\+/g, ' '));
                }
                var match, search = window.location.search;
                while (match = r.exec(search.substring(1)))
                    params[d(match[1])] = d(match[2]);
                window.params = params;
            })();

            var roomid = '';
            if (localStorage.getItem(connection.socketMessageEvent)) {
                roomid = localStorage.getItem(connection.socketMessageEvent);
            } else {
                roomid = connection.token();
            }
//            document.getElementById('room-id').value = roomid;  edited by vanpersie 20180308
            document.getElementById('room-id').onkeyup = function() {
                localStorage.setItem(connection.socketMessageEvent, this.value);
            };

            var hashString = location.hash.replace('#', '');
            if(hashString.length && hashString.indexOf('comment-') == 0) {
              hashString = '';
            }

            var roomid = params.roomid;
            if(!roomid && hashString.length) {
                roomid = hashString;
            }

            if(roomid && roomid.length) {
                document.getElementById('room-id').value = roomid;
                localStorage.setItem(connection.socketMessageEvent, roomid);

                disableInputButtons();

                // auto-join-room
                connection.join(roomid);
            }
            //分享区域
            document.getElementById('btn-share-part-of-sreen').onclick = function() {
                this.disabled = true;
                // connection.sharePartOfScreen(document.getElementById('part-of-screen-to-be-shared'));
                connection.sharePartOfScreen($('#part-of-screen-to-be-shared').contents().find('body'));
            };
            var sharedPartOfScreenPreview = document.getElementById('shared-part-of-screen-preview');
            connection.onmessage = function(event) {
                //在线交流、分享区域走同一个通道，故需要判断类型，区别处理   by vanpersie
                if (event.data.indexOf('data:image/png') > -1) {
                    sharedPartOfScreenPreview.src = event.data;
                } else {
                    appendDIVRemote(event);
                }
            };
            var lastSharedScreenShot = '';
            connection.sharePartOfScreen = function(element) {
                html2canvas(element, {
                    onrendered: function(canvas) {
                        var screenshot = canvas.toDataURL('image/png', 1);
                        // var screenshot = canvas.toDataURL();
                        if(screenshot === lastSharedScreenShot) {
                            connection.sharePartOfScreen(element);
                            return;
                        }
                        connection.send(screenshot);
                        connection.sharePartOfScreen(element);
                    },
                    grabMouse: true
                });

            };
        </script>

        <script>
            // window.useThisGithubPath = 'muaz-khan/RTCMultiConnection';
        </script>
        <script src="/dev/commits.js" async></script>
        <script src="/jquery.min.js" type="text/javascript" ></script>
        <script  src="/bootstrap-4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>
